// JUMBOTRON STUFF
.jumbotron2 {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #eee;
}
.jumbotron-billboard .img {
    margin-bottom: 0px;
    opacity: 0.2;
    color: #fff;
    width: 100%;
    height: 100%;
    background-color: #777;
    overflow: hidden;
    position:absolute;
    top:0;left:0;
    z-index:1;
}
.jumbotron-billboard .tools {
    background: #000 url("http://www.seleniumhq.org/images/big-logo.png") center center;
    background-repeat:no-repeat;
    background-position:-50px -50px;
    background-size: 380px 380px;
}
.jumbotron-billboard .android {
    background: #000 url("../imgs/Android-Icon.png") center center;
    background-repeat:no-repeat;
    background-position:-50px -50px;
    background-size: 380px 380px;
}
.jumbotron-billboard .site {
    background: #000 url("../imgs/bootstrap.png") center center;
    background-repeat:no-repeat;
    background-position:-50px -50px;
    background-size: 380px 380px;
}
.jumbotron-billboard .othertools {
    background: #000 url("../imgs/jenkins.png") center center;
    background-repeat:no-repeat;
    background-position:-50px -50px;
    background-size: 380px 380px;
}
.jumbotron {position:relative;background-color: #777;}
.jumbotron .container {z-index:2;
 position:relative;
  z-index:2;
}
.jumbotron2 h1,
.jumbotron2 .h1 {
  color: inherit;
  text-shadow: none;
}
.jumbotron2 p {
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: 200;
  color: #fff;
}
.jumbotron2 > hr {
  border-top-color: #d5d5d5;
}
.container .jumbotron2,
.container-fluid .jumbotron2 {
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 6px;
}
.jumbotron .container {z-index:2;
 position:relative;
  z-index:2;
  max-width:100%;
}
@media screen and (min-width: 768px) {
  .jumbotron2 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .container .jumbotron2,
  .container-fluid .jumbotron2 {
    padding-right: 60px;
    padding-left: 60px;
  }
  .jumbotron2 h1,
  .jumbotron2 .h1 {
    font-size: 63px;
  }
}


.hello {
    background-color: #FFFFFF;
    color: #000000;
    height: 14pc;
}
.container-fluid-chris {
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 3px;
    height: 8pc;
    margin-right: auto;
    margin-left: auto;
}
.container-fluid-content {
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 3px;
    margin-right: auto;
    margin-left: auto;
}
.not-expanded {
    aria-expanded:false;
}
.nav-pills > li {
  float: left;
}
.nav-pills > li > a {
  border-radius: 4px;
}
.nav-pills > li + li {
  margin-left: 2px;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #fff;
  background-color: #000000;
}

.mybutton {
  color: #fff;
  background-color: #000000;
    float: left;
      border-radius: 4px;
        margin-left: 2px;
}

.download {
    color:#a4c639;
}